<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
    <body>
    {% if current_user.is_authenticated %}
        <div class="container">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2><b>Quản lý học sinh </b>
                        <button type="button" class="btn btn-primary float-right">
                            <a href="/homeMinistry" style="color:white; text-decoration: none">Quay lại</a>
                        </button>
                    </h2>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <h1 class="text-center text-info text-main">ĐIỀU CHỈNH LỚP HỌC</h1>
            <h4>Khối 10</h4>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <table class="table">
                  <tr>
                    <th>Tên lớp</th>
                    <th>Sĩ số</th>
                  </tr>
                  {% for s in stats_class %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                  {% for s in stats_class1 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                  {% for s in stats_class2 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="col-md-6 col-xs-12">
                <canvas id="myAVGChart1"></canvas>
              </div>
            </div>
            <h4>Khối 11</h4>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <table class="table">
                  <tr>
                    <th>Tên lớp</th>
                    <th>Sĩ số</th>
                  </tr>
                  {% for s in stats_class3 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                    {% for s in stats_class4 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                    {% for s in stats_class5 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="col-md-6 col-xs-12">
                <canvas id="myAVGChart2"></canvas>
              </div>
            </div>
            <h4>Khối 12</h4>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <table class="table">
                  <tr>
                    <th>Tên lớp</th>
                    <th>Sĩ số</th>
                  </tr>
                  {% for s in stats_class6 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                    {% for s in stats_class7 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                    {% for s in stats_class8 %}
                  <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="col-md-6 col-xs-12">
                <canvas id="myAVGChart3"></canvas>
              </div>
            </div>
            <script>
                let labels = [], labels2 = [], labels3 = []
                let info = [], info2 = [], info3 = []


                {% for s in stats_class %}
                    labels.push('{{ s[0] }}')
                    info.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class1 %}
                    labels.push('{{ s[0] }}')
                    info.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class2 %}
                    labels.push('{{ s[0] }}')
                    info.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class3 %}
                    labels2.push('{{ s[0] }}')
                    info2.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class4 %}
                    labels2.push('{{ s[0] }}')
                    info2.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class5 %}
                    labels2.push('{{ s[0] }}')
                    info2.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class6 %}
                    labels3.push('{{ s[0] }}')
                    info3.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class7 %}
                    labels3.push('{{ s[0] }}')
                    info3.push({{ s[1] }})
                {% endfor %}

                {% for s in stats_class8 %}
                    labels3.push('{{ s[0] }}')
                    info3.push({{ s[1] }})
                {% endfor %}


                window.onload = function() {
                    let ctx = document.getElementById('myAVGChart1').getContext('2d');
                    showChart(ctx, labels, info, 'bar')
                    let ctx2 = document.getElementById('myAVGChart2').getContext('2d');
                    showChart(ctx2, labels2, info2, 'bar')
                    let ctx3 = document.getElementById('myAVGChart3').getContext('2d');
                    showChart(ctx3, labels3, info3, 'bar')
                  }

                  function showChart(ctx, labels, info, type){
                     let colors = [], borderColors = []
                     let r, g, b
                     for (let i = 0; i < labels.length; i++) {
                        r = parseInt(Math.random()*255)
                        g = parseInt(Math.random()*255)
                        b = parseInt(Math.random()*255)
                        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
                        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
                  }

                  const myChart = new Chart(ctx, {
                      type: type,
                      data: {
                          labels: labels,
                          datasets: [{
                              label: 'Thống kê tổng kết sĩ số theo lớp',
                              data: info,
                              backgroundColor: colors,
                              borderColor: borderColors,
                              borderWidth: 1
                          }]
                      },
                      options: {
                          scales: {
                              y: {
                                  beginAtZero: true
                              }
                          }
                      }
                  });
                }
            </script>
        </div>
    {% endif %}
    </body>
</html>